#include <windows.h>

#include "resource.h"

#define IDR_VERSION1  1
IDR_VERSION1	VERSIONINFO	MOVEABLE IMPURE LOADONCALL DISCARDABLE
  FILEVERSION	 1, 2, 11, 0
  PRODUCTVERSION 1, 2, 11, 0
  FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
  FILEFLAGS	0
  FILEOS	VOS_DOS_WINDOWS32
  FILETYPE	VFT_DLL
  FILESUBTYPE	0	// not used
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    // language ID = U.S. English, char set = Windows, Multilingual

	#if defined ( BUILD_ENV_IS_VISUAL_STUDIO )
    // 2019/03/10 DAG: MSBuild macros direct the resource compiler to null terminate strings.
	    BEGIN
    	  VALUE "FileDescription"	, VER_DESCRIPTION_AND_PLATFORM
	      VALUE "FileVersion"		, "1.2.11"
    	  VALUE "InternalName"		, "zlib"
	      VALUE "OriginalFilename"	, "zlibwapi.dll"
    	  VALUE "ProductName"		, "ZLib.DLL"
	      VALUE "Comments"			, "DLL support by Alessandro Iacopetti & Gilles Vollant, ARM support by David Gray"
    	  VALUE "LegalCopyright"	, "(C) 1995-2017 Jean-loup Gailly & Mark Adler"
	    END
	#else	/* #if defined ( BUILD_ENV_IS_VISUAL_STUDIO ) */
	    BEGIN
    	  VALUE "FileDescription"	, "zlib data compression and ZIP file I/O library\0"
	      VALUE "FileVersion"		, "1.2.11\0"
    	  VALUE "InternalName"		, "zlib\0"
	      VALUE "OriginalFilename"	, "zlibwapi.dll\0"
    	  VALUE "ProductName"		, "ZLib.DLL\0"
	      VALUE "Comments"			, "DLL support by Alessandro Iacopetti & Gilles Vollant\0"
    	  VALUE "LegalCopyright"	, "(C) 1995-2017 Jean-loup Gailly & Mark Adler\0"
	    END
    #endif	/* #if defined ( BUILD_ENV_IS_VISUAL_STUDIO ) */
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
